{% extends "index.html" %}


{% block content %}


 <section class="contact_section layout_padding-center" >

          <div align="center">
              <div class="contact_section">
                  <br>
                  <p>
                      Кафе «Очаг» радует жителей и гостей нашего города
 уютной атмосферой и изысканной кухней.
                  </p>
                  <p>
                      Кафе приятно посетить в любое время: днем здесь можно организовать деловой обед,
 вечером отдохнуть в компании друзей и семьи.
                  </p>
                  <p>
                      Для посетителей проводится  развлекательная программа:
разнообразные шоу, танцы, дискотека и живая музыка.
                  </p>
                  <p>
                      Наш заведение приглашает Вас  приятно провести время и отпраздновать любое торжество –
день  рождения, свадьбу, корпоратив , тематические вечеринки, детские праздники и многое другое. <br>
При заказе банкета в нашем ресторане действуют специальные предложения и скидки!
                  </p>
                  <p>Меню не оставит равнодушными ни приверженцев классики,
ни любителей острых ощущений – каждый сможет полностью удовлетворить тут свой индивидуальный вкус.
Вечер, проведенный в кафе «Очаг» <br>станет незабываемым впечатлением для гостей.</p>
                  <p>Кафе "Очаг" находится по адресу: г. Санкт-Петербург, Репищева ул., дом 14,</p>
                  <p>Телефон для заказа столика и еды на дом: +7(953)1507000</p>
                  <p>Режим работы:</p>

                  <p>Понедельник - 11:00-23:00 <br>Вторник - 11:00-23:00 <br> Среда - 11:00-23:00 <br> Четверг - 11:00-23:00 <br> Пятница - 11:00-23:00 <br> Суббота - 11:00-23:00 <br> Воскресенье - 11:00-23:00</p>


              </div>
          <div class="col-md-6 px-0">
            <div class="map_container">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26822.21993242918!2d30.240002142067144!3d60.0221468071934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb8d8a2d43fc17c43!2z0J7Rh9Cw0LM!5e0!3m2!1sru!2sru!4v1609668699595!5m2!1sru!2sru" width="300" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
              <br>
              </div>
  </section>

{% endblock content %}