{% extends "index.html" %}


{% block content %}


 <section class="contact_section layout_padding-center" >

          <div align="center">
              <div class="contact_section">
                  <p>
                      Наши контакты
                  </p>
                  <p>
                      Кафе "Очаг"
                  </p>
                  <p>
                      Находится по адресу: Репищева ул., 14, Санкт-Петербург, 197375
                  </p>
                  <p>
                      Тел. +7(953)1507000
                  </p>
                  <p>Режим работы:</p>

                  <p>Понедельник - 11:00-23:00 <br>Вторник - 11:00-23:00 <br> Среда - 11:00-23:00 <br> Четверг - 11:00-23:00 <br> Пятница - 11:00-23:00 <br> Суббота - 11:00-23:00 <br> Воскресенье - 11:00-23:00</p>

              </div>
          <div class="col-md-6 px-0">
            <div class="map_container">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26822.21993242918!2d30.240002142067144!3d60.0221468071934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb8d8a2d43fc17c43!2z0J7Rh9Cw0LM!5e0!3m2!1sru!2sru!4v1609668699595!5m2!1sru!2sru" width="300" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
              <br>
              </div>
  </section>

{% endblock content %}