{%load static %}

<!DOCTYPE html>
<html>

<head>

  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Кафе Очаг</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.css' %}>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href={% static 'css/style.css' %} rel="stylesheet" />
  <!-- responsive style -->
  <link href={% static "css/responsive.css" %}  rel="stylesheet" />
   <style>
   @font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url({% static "fonts/8585.ttf" %}); /* Путь к файлу со шрифтом */
   }
   h2 {
    font-family: Pompadur, 'Comic Sans MS', cursive;
   }
  </style>





</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->

    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="img-box">
              <img src={% static "images/main_img2.png" %} >
            </div>
          </div>
        </div>
          <!--
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
        -->
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- nav section -->

  <section class="nav_section">
    <div class="container">
      <div class="custom_nav2">
        <nav class="navbar navbar-expand custom_nav-container ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url "base" %}">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "contacts" %}">Контакты </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "base_menu" %}">Меню </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "about" %}">О нас</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "review" %}">Отзывы</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'cart' %}">Корзина <span class="badge badge-pill badge-danger">{{ cart.products.count }}</span></a>
                  </li>
              </ul>

            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>

  <!-- end nav section -->

  <!-- shop section -->
  {% block content %}
      {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %}
  <section class="shop_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="detail-box">
          <h2 style="font-style:italic ">
            Кафе "Очаг"
          </h2>
          <p>
            Кафе "Очаг" радует жителей и гостей нашего города уютной атмосферой и изысканной кухней. Кафе приятно посетить в любое время: Днем можно организовать деловой обед, детские праздники, а вечером приятно отдохнуть в компании друзей и семьи. Наше кафе радо предоставить Вам возможность отпраздновать любое торжество: день рождения, корпоратив, свадьбу, тематические вечеринки и многое другое.
          </p>
        </div>
          <!--
        <div class="img-box">
          <img src={% static "images/shop-img.jpg" %} >
        </div>
        <div class="btn-box">
          <a href="">
            Buy Now
          </a>
        </div> -->
      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src={% static "images/second2.png" %} >
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <hr>
              <h2 style="font-size: 50px">
                О нашем кафе
              </h2>
            </div>
            <p>
              Кафе «Очаг» радо вам сообщить, что помимо наслаждения отличной атмосферой и великолепными блюдами от нашего шеф-повара
вы также можете спеть в караоке в компании друзей и близких.
            </p>
            <a href="">
              Узнать больше
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end about section -->

  <!-- fruit section -->


  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2 style="font-size: 50px">
          Популярные блюда
        </h2>
      </div>
    </div>
    <div class="container-fluid">

      <div class="fruit_container">
        <div class="box">
          <img src={% static "images/img-food1.png" %} >

        </div>
        <div class="box">
          <img src={% static "images/img-food2.png" %} >

        </div>
        <div class="box">
          <img src={% static "images/img-food3.jpg" %} >

        </div>
        <div class="box">
          <img src={% static "images/img-food4.png" %} >

        </div>
        <div class="box">
          <img src={% static "images/img-food5.png" %} >

        </div>
        <div class="box">
          <img src={% static "images/img-food6.jpg" %} >

        </div>
      </div>
    </div>
  </section>

  <!-- end food section -->


  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container ">
      <div class="heading_container">
        <h2 style="font-size: 50px">
          Посетители о нас
        </h2>
        <hr>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src={% static "images/customer1 (1).jpg" %} >
              </div>
              <div class="detail-box">
                <h5>
                  Ирина
                </h5>
                <p>

                  В первый раз побывала в вашем кафе, накормили вкусно! Хорошая уютная атмосфера. Приветливый персонал. В общем, отдохнули хорошо, за что большое спасибо!
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src={% static "images/customer3.jpg" %} >
              </div>
              <div class="detail-box">
                <h5>
                  Наталья
                </h5>
                <p>
                  Все было здорово! Отмечали День рождения подруги. Кухня, живая музыка, танцы! Все очень довольны!
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src={% static "images/customer2.jpg" %} >
              </div>
              <div class="detail-box">
                <h5>
                  Елена
                </h5>
                <p>
                  Мы с моим парнем отлично провели вечер! Вкусные блюда, и уютный интерьер! Очень понравилась шоу-программа! Все то, что нужно, чтобы хорошо провести время.
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>

  <!-- end client section -->


  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h2 style="font-size: 50px">
              Мы на карте
            </h2>
          </div>
        </div>
      </div>

          <div class="col-md-12 px-0" >
            <div class="map_container">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26822.21993242918!2d30.240002142067144!3d60.0221468071934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb8d8a2d43fc17c43!2z0J7Rh9Cw0LM!5e0!3m2!1sru!2sru!4v1609668699595!5m2!1sru!2sru" width="1920" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
    </div>

  </section>
  <!-- end contact section -->
{% endblock content %}

  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_logo">
      </div>
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">

              <span>
                Адрес: Репищева ул., 14, Санкт-Петербург, 197375
              </span>
          </div>
          <div class="col-md-4">

              <span>
                Заказать столик: +7(953)1507000
              </span>
          </div>
          <div class="col-md-4">

              <span>
                Открыты: Пн-Вс 11:00–23:00
              </span>
          </div>
        </div>
      </div>
      <div class="row">

      </div>

    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->

  <!-- footer section -->

  <script type="text/javascript" src= {% static "js/jquery-3.4.1.min.js" %}> </script>
  <script type="text/javascript" src={% static "js/bootstrap.js" %}></script>
  <script type="text/javascript" src={% static "js/custom.js" %}></script>

</body>

</html>