{% extends "index.html" %}



{% block content %}
<td align="right" style="white-space: nowrap;">[ <a href="{% url "add_review" %}"><!--<s5205>-->Добавить отзыв<!--</s>--></a>  ]</td>

 {% for i in review %}
<div id="entryID35" class="report-spam-target " style=""><table border="0" cellpadding="0" cellspacing="0" width="100%" class="cBlock1"><tbody><tr><td style="padding:3px;">
   <table cellpadding="0" cellspacing="0" width="100%">
   <tbody><tr>
   <td style="background: none repeat scroll 0% 0% rgb(242, 242, 242);border-right: 1px solid rgb(225, 225, 225);" align="left" valign="top">
   <div style="padding: 2px;"><center><div class="avatar-top"> <div class="avatar-bottom"> <div class="avatar-mid"><img src="/.s/img/icon/social/noavatar.png" style="cursor: pointer;padding-right: 1px;" border="0" gpf5pyqbd=""></div></div></div></center></div></td>
   <td align="left" valign="top" width="100%">
<div style="float: left;"><b>{{ i.name }}</b>
 |  | Дата: <b>{{ i.created_at }}</b></div><br>
   <div class="mesR" style="padding: 5px;">{{ i.review }}<br><br><span style="font-size: 10pt;"><i> </i></span><br></div>

   </td>
   </tr>
   </tbody></table> </td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td class="com-shadow"></td></tr></tbody></table><style> .cBlock1, .cBlock2 {
   border: 1px solid #CCCCCC;
background:#f7f7f7;
   }
   .com-shadow {
   height: 16px;
   width: 100%;
   background: url(http://zornet.ru/zornet_ru1/com-shadow.png) no-repeat top right;
   }
   .avatar-top {
   width: 99px;
   padding-top: 11px;
   background: url(http://zornet.ru/zornet_ru1/avatar-top.png) no-repeat;
   }
   .avatar-bottom {
   width: 99px;
   padding-bottom: 7px;
   background: url(http://zornet.ru/zornet_ru1/avatar-bottom.png) no-repeat bottom left;
   }
   .avatar-mid {
   width: 99px;
   padding-bottom: 3px;
   background: url(http://zornet.ru/zornet_ru1/avatar-mid.png);
   }
   .avatar-mid img {width: 80px;}
   .commFl {background: #fff url(http://zornet.ru/zornet_ru1/no_spam.png) no-repeat bottom right;}
   </style></div>
{% endfor %}
{% endblock content %}